* {
    font-family: Josefin Sans;
}


/* NAVBAR */
.custom-drop.active,
.custom-drop:active {
    background-color: rgb(119, 119, 119);
}

.cart-logo {
    color: white;
    display: flex;
    align-items: center;
    text-decoration:none;
    transition: 0.4s;
}
.cart-logo:hover {
    transform:scale(1.25);
}


/* HOME */
.home-image {
    max-width: 33vw;
    align-self: center;
}


@media (max-width: 768px) {
    .home-image {
        max-width: 60vw;
    }
}

@media (max-width: 564px) {
    .home-image {
        max-width: 85vw;
    }
}


